<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="icon" href="./assets/images/logo.png">
  </head>
  <body>

    <header class="page-header" role=banner>
        <img width=10% src="./assets/images/logo.png" >
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="./signIn.html" class="btn">Get Started</a>
    </header>

    <main id="content" class="main-content" role="main">
      <!-- {{ content }} -->
      <div class="card">
        <div class="container">
            <div class="zoom">
                <a href="./events.html">
                    <h1>Events</h1>
                </a>
            </div>
            <div id="dynamicheight">
                <img width=50% src="./assets/images/events.png">
            </div>
            <p>Under the events tab, you can search for local events such as art shows, festivals, concerts, etc. Events within this tab are tagged with other information such as being sensory friendly or involving large crowds of people to alert users before they attend. </p>
        </div>
        </div>

        <div class="card">
            <div class="container">
                <div class="zoom">
                    <!-- <a href="./pages/friends.html"> -->
                        <h1>Friends</h1>
                    <!-- </a> -->
                </div>
                <div id="dynamicheight">
                    <img width=100% src="./assets/images/friends.png">
                </div>
                <p>Under the friends tab, you can connect with people that have similar interests. Regulation of this portion of the platform involves tagging key words and phrases that are considered offensive and derogatory so that high functioning users are unable to participate in online abuse.</p>
            </div>
        </div>

        <div class="card">
            <div class="container">
                <div class="zoom">
                    <!-- <a href="./pages/opportunities.html"> -->
                        <h1>Opportunities</h1>
                    <!-- </a> -->
                </div>
                <div id="dynamicheight">
                    <img width=100% src="/assets/images/opportunities.png">
                </div>
                <p>Under the opportunities tab, you can search for opportunities in higher education and career that may be suitable to your interests. This may include workshops or certificate programs.</p>
            </div>
        </div>

      <footer class="site-footer">
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
